<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="database.tools.dev.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <database.tools.dev.MySettings>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Uid" serializeAs="String">
                <value>wbpoc</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>sql@tfs2008</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>DFLocal</value>
            </setting>
            <setting name="UpgradeToolPath" serializeAs="String">
                <value>DB\tools\dbupgrade\DBUpgrade.exe</value>
            </setting>
            <setting name="UpgradeScriptsPath" serializeAs="String">
                <value>DB\SQL\ClientDB</value>
            </setting>
            <setting name="DFControl" serializeAs="String">
                <value>DFControl</value>
            </setting>
            <setting name="TFSWorkSpaces" serializeAs="String">
                <value />
            </setting>
        </database.tools.dev.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>